@{
    ViewBag.Title = "Sobre nós";
}

<h3>Quem Somos</h3>
<p>
    Integer bibendum porttitor euismod. Aenean non enim facilisis sapien efficitur commodo eu non turpis. In purus nulla, sagittis id pharetra a, cursus eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo justo at rutrum volutpat. Sed eget nisl id metus pretium facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae fringilla eros, nec congue purus. Proin semper arcu ut tincidunt tempus. Vestibulum rhoncus a nunc sed semper.
</p>

<h3>Missão</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec tortor malesuada, finibus nunc ac, vestibulum est. Curabitur sit amet sagittis eros. Donec posuere nunc nulla. Vestibulum ligula lacus, tincidunt ac est ac, tincidunt laoreet tortor. Curabitur in urna enim. Suspendisse pretium, sem eget tristique blandit, arcu ligula fringilla est, a imperdiet odio dui id metus. Quisque at lorem in orci sagittis auctor ac quis mauris. Etiam tincidunt fermentum elementum. Pellentesque ac nisi lorem. Fusce suscipit, ante vitae tincidunt sodales, massa justo viverra velit, a imperdiet lorem nulla nec ex. Quisque quam orci, tincidunt ac lacinia ut, pulvinar sit amet odio. Pellentesque quis feugiat tortor. Mauris at tellus mauris. Sed maximus nisi eu sapien efficitur posuere. Praesent vitae lacus dictum, malesuada elit vitae, vulputate magna. Pellentesque non tortor sit amet ipsum pellentesque vehicula eu et felis.
</p>


<h3>Valores</h3>
<p>
    Quisque tempus a diam ac convallis. Donec vitae turpis nec risus elementum rutrum non suscipit nibh. Proin sodales sollicitudin purus. Nunc nulla velit, maximus vulputate suscipit sed, euismod ac dui. Quisque eu mauris at nibh interdum tristique porta ac mi. Etiam diam felis, efficitur et consequat vitae, dapibus ut mi. Cras at lectus ut neque pretium consequat. Nullam convallis eros id arcu pellentesque pretium. Duis imperdiet nunc id ligula dignissim semper. Ut dignissim aliquam metus, sit amet bibendum est ultrices non. Pellentesque rhoncus ullamcorper libero in sagittis.

    <ul>
        <li>Nam nec sapien lacinia, scelerisque elit quis, condimentum arcu.            </li>
        <li>Nunc quis nisi eu mauris vulputate feugiat.                                 </li>
        <li>Sed quis quam ut nulla volutpat dignissim quis eget dui.                    </li>
        <li>Nullam mollis nisi a diam ultrices fringilla.                               </li>
        <li>Fusce imperdiet risus nec neque vehicula scelerisque.                       </li>
        <li>Maecenas quis purus gravida, fringilla nibh vitae, congue turpis.           </li>
        <li>Etiam tempor mauris vitae facilisis vehicula.                               </li>
        <li>Duis vel neque id ligula imperdiet lacinia.                                 </li>
    </ul>
</p>